/* Layout
-----------------------------------------------------------------------------*/
$break-smaller: 30rem;
$break-small: 44rem;
$break-medium: 60rem;

/* Color
-----------------------------------------------------------------------------*/
$color-green: #61BF7E;
$color-stone: #f7f7f7;
$color-stone-darker: darken($color-stone, 10);
$color-grey: #494847;
$color-grey-dark: #2C2A2C;
$color-red: #ED5154;
$color-pink: #CA1A49;

/* Typography
-----------------------------------------------------------------------------*/
$font-body: "proxima-nova-alt",Helvetica,Arial,sans-serif;
